<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8" />
  <title>Card Webview</title>

  <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.0.1/lib/paper-card/paper-card.html">

  <!--
  <link rel="import" href="../bower_components/paper-card/paper-card.html">

  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.0.1/lib/iron-icon/iron-icon.html">
  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.0.1/lib/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.0.1/lib/paper-button/paper-button.html">
  -->
  </head>
  <body>

  <paper-card heading="Test"></paper-card>
