<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8" />
  <title>Widget Webview</title>
  </head>

  <body>

  <p>Test</p>

<!--
  <div id="openweathermap-widget-15"></div>

    <script>
    window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
    window.myWidgetParam.push({id: 15,cityid: '2643743',appid: '9393e4c87b6070958c8611b9f5211c48',units: 'metric',containerid: 'openweathermap-widget-15'});

    (function() {
      var script = document.createElement('script');
      script.async = true;
      script.src = "http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
      var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);
    })();
    </script>
-->
  </body>
</html>
