<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8" />
  <title>Widget Webview</title>
  <link rel="amphtml" href="https://https://immense-tor-25991.herokuapp.com/views/AMP_webview.html">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/weather_widget.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../simple_weather/jquery.simpleWeather.min.js"></script>
  <script type="text/javascript" src="../public/javascripts/weather.js"></script>

  <!--
  <script type="text/javascript" src="../simple_weather/gulpfile.js"></script>
  <script type="text/javascript" src="../fb_weather_bot.js"></script>
  -->

  </head>

  <body>

    <div id="weather"></div>
    <script type="text/javascript" src="../public/javascripts/weather.js"></script>

  </body>
</html>
