body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}

paper-card {
  width:800px;
  font-size: 170%;
}

.cafe-header {
  font-weight: bold;
  @apply --paper-font-headline;
}

.cafe-light {
  color: var(--paper-grey-600);
}

.cafe-location {
float: right;
font-size: 15px;
vertical-align: middle;
}

.cafe-reserve {
  color: var(--google-blue-500);
  display: block;
  text-align: center;
  font-size: 180%;
}

iron-icon.star {
  --iron-icon-width: 16px;
  --iron-icon-height: 16px;
  color: var(--paper-amber-500);
}

iron-icon.star:last-of-type {
  color: var(--paper-grey-500);
}

a:link {
  text-decoration: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
